main{
    padding: 170px 0px;
}

#contenedor_Pedidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interior{
    padding-bottom: 20px;
}

/* Busqueda*/

#bloque_Buscar{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form_Buscar{
    display: flex;
    flex-flow: row;
    width: 55%;
    justify-content: space-between;
    font-size: 15pt;
    font-weight: bold;
}

select{
    padding: 5px 10px;
    font-size: 13pt;
}

#btn_Buscar{
    padding: 5px 10px;
    border-radius: 0.5em;
    background-color:antiquewhite;
    font-size: 13pt;
    transition: 1s;
    cursor: pointer;
}

/* pedidos */
.bloque_Pedido{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    flex-flow: row;
    
}

.bloque_Barra_Lateral{
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
    width: 400px;
    border: 1px black solid;
    padding: 15px;
}
                      
.seccion1_parte1{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.seccion1_parte1 p{
    font-size: 13pt;
    font-weight: bold; 
}

.bloque_DetallePedido{
    padding: 15px;
    border: 1px black solid;
    width: 600px;
}

.bloque_tabla{
    display: flex;
    justify-content: center;
}

.tabla_Servicios{
    width: 100%;
    text-align: center;
    font-size: 13pt;
}

.btn_Cancelar{
    padding: 5px;
    border-radius: 1em;
    background-color: rgb(243, 117, 117);
    font-size: 13pt;
    transition: 1s;
    cursor: pointer;
}

.btn_Cancelar:hover{
    font-size: 15pt;
}

thead{
    background-color: beige;
}

td{
    border-right:  1px dashed black;;
    border-bottom: 1px dashed black;
}



#bloque_PedidoVacio{
    text-align: center;
    color: rgb(207, 99, 99);
}

#bloque_PedidoVacio img{
    width: 330px;
}
