#bloque_Main{
    display: flex;
    justify-content: center;
    width: 100%;
}

main{
    display: flex;
    flex-flow: row;
    padding-top: 138px;
    max-width: 1300px;
}

#bloque_ContenedorDatos{
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
  
}

#bloque_Datos{
    padding: 30px 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    min-width: 300px;
    border: black 1px solid;
    border-radius: 2em;
}

#bloque_Datos img{
    width: 100px;
}

#bloque_General_Actualizar{
    display: flex;
    flex-flow: column;
    padding: 30px 20px;
    width: 100%;
    margin-left: 60px;
}

#bloque_Direccion{
    display: flex;
    flex-flow: column;
}

input, select{
    height: 25px;
    width: 250px;
    margin: 5px 0px;
    border-radius: 0.8em;
}

label{
    width: 300px;
}

#bloque_2Seccion{
    display: flex;
    flex-flow: row;
}

#bloque_actualizaDireccion,#bloque_Formulario_Direcciones{
    width: 50%;
}

#bloque_Seccion_form{
    display: flex;
    flex-flow: row;
}

#bloque_Seccion_form div{
   width: 50%;
}

#bloque_btn_actualizarDatos{
    text-align: center;
    margin-left: 50px;
}

.btn{
    width: 150px;
    height: 35px;
    background-color: #67CE38;
    cursor: pointer;
    border-radius: 1em;
    transition: 1s;
}

.btn:hover{
    background-color: #a9eb8a;
    font-size: 11pt;
}

#bloque_Actualizadatos{
    align-items: center;
}

.btn_agregarOcultar{
    width: 80px;
    height: 35px;
    background-color: rgb(241, 241, 9);
    cursor: pointer;
    border-radius: 1em;
    transition: 1s;
}

.bloqueForm{
    width: 200px;
}

#label_Contraseña2{
    width: 150px;
}

#bloque_btn_AgregarDireccion,#bloque_AñadirNuevaDireccion,#bloque_btn_actualizarDirec{
    width: 250px;
    display: flex;
    justify-content: center;
}

#btn_añadir{
    width: 180px;
}
