*{
	box-sizing:border-box;
}
.contenedor{
	margin:0 auto;
	width:100%;
}

body{
    background:linear-gradient(322deg,#4ca4f5,#fafafa);
    font-family:"Helvetica",Arial,sans-serif;
    margin: 0;
}

body h2, form h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Para dispositivos pequeños*/
[class*="col-"]{
	float:left;
    padding: 10px;
	width:100%;
}

.row::after{
	content:"";
	clear:both;
	display:table;
}

body{
    background:linear-gradient(322deg,#4ca4f5,#fafafa);
    font-family:"Helvetica",Arial,sans-serif;
    margin: 0;
}

body h2, form h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
	max-width:100%;
}

.interior{
	max-width:1200px;
	margin:0 auto;
}

/* === HEADER === */


header {
    background: #9fcefa;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#bloqueMenu,
#cajaReservar {
    margin: 2% 0;
}

#bloqueImagenLogo img {
    margin: 10px 0 0 25%;
}

#menu_h ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu_h ul li {
    display: inline-block;
    margin: 20px 17px;
    align-items: center;
}

#menu_h ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu_h ul li a {
    text-decoration: none;
    color: black;
}

.activo {
    border-bottom: 3px solid #6bda40;
    font-weight: bold;
}

#menu_h ul li a:hover {
    border-bottom: 3px solid #6bda40;
}

#ctaReserva {
    color: #000000;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0.3em;
    text-decoration: none;
    background-color: #9feb81;
    padding: 15px 10px;
    text-align: center;
    display: block;
    margin: 10px 0 0;
    transition: background 2s;
}

#ctaReserva:hover {
    background: #6bda40;
    border: 3px solid #ffffff;
    color: #ffffff;
}


/*** ASIDE ***/
#grupoEnlacesRedes{
    display: flex;
    flex-flow: column;
    position: fixed;
    right: -3.5%;
    top: 40%;
}

/*** FOOTER ***/
footer{
    background:linear-gradient(360deg,#43aee8 ,#6bda40);
}

#cajaSubmenuFooter{
    margin: -7% auto 0 auto;
}

#logoOscuro{
    margin-left: 16%;
}

#logoOscuro img{
    margin: 0 0 0 25%;
}

#contactanos{
    text-align: center;
}

#contactanos table{
    margin: 0 auto;
}

#horariosAtencion{
    text-align: center;
    margin: 4% 0 5% 0;
}

.menuFoot li a{
    text-decoration: none;
    color: #000000;
}


#copyright{
    text-align: center;
    margin: -5% auto 0 auto;
}

@media only screen and (min-width:600px){
    .col-s-1{width:8.33%;}
    .col-s-2{width:16.66%;}
    .col-s-3{width:25%;}
    .col-s-4{width:33.33%;}
    .col-s-5{width:41.66%;}
    .col-s-6{width:50%;}
    .col-s-7{width:58.33%;}
    .col-s-8{width:66.66%;}
    .col-s-9{width:75%;}
    .col-s-10{width:83.33%;}
    .col-s-11{width:91.66%;}
    .col-s-12{width:100%;}
    }
    /*Para dispositivos grandes*/
    @media only screen and (min-width:768px){
    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:18%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}
    
    body{
        font-family:"Helvetica",Arial,sans-serif;
        margin:0;
        padding:0;
    }

    #textoSect1{
        padding-top: 5%;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    /*** Footer ***/
    #logoOscuro{
        width: 60%;
    }

    #logoOscuro img{
        margin: 10% auto;
    }


}