main{
    padding-top: 110px;
}

#titulo_Portal{
    display: flex;
    justify-content: center;
}

#form_Pago{
    width: 80%;
    margin: 0 auto;
}

#form_Pago div{
    width: 80%;
    margin: 0 auto;
    font-size: 13pt;
}

#form_Pago div select{
    border-radius: 1em;
}

#bloque_btnPago{
    display: flex;
    justify-content: right;
    padding: 30px 0px;
}

#btn_Pagar{
    background-color: greenyellow;
    padding: 15px 20px;
    font-size: 15pt;
    border-radius: 0.5em;
    cursor:pointer;
    transition: 1s;
}

#btn_Pagar:hover{
    background-color: rgb(156, 248, 17);
    padding: 15px 20px;
    font-size: 17pt;
}

#bloque_img_Yape,#bloque_codigo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#bloque_codigo label{
    font-size: 15pt;
}

#bloque_codigo input{
    padding: 5px 10px;
}

#tarjeta{
    width: 250px;
    height: 180px;
}

#bloque_Yape{
    padding-top: 40px;
    display: flex;
    flex-flow: row;
}

#yape{
    width: 200px;
    height: 300px;
}

#bloque_TarjetaDebito{
    display: flex;
    flex-flow: row;
    padding: 50px 0px 0px 0px;
}

#seccion_datos_tarjeta{
    display: flex;
    flex-flow: column;
}

.bloqueDatos input{
    padding: 5px 10px;
}

.bloqueDatos{
    display: flex;
    flex-flow: column;
    justify-content: left;
    padding-top: 10px;
}

#bloque_img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

