/*** MAIN ****/

main{
    padding-top: 120px;
}

#section2{
    height: 100%;
    display: flex;
    margin: 95px 0 0 0 ;
}

#s2_oferta{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: right;
    font-weight: bold;
    margin: 0;
}

#s2_oferta p{
    font-size: 1.5em;
}

#s2_cajaOferta{
    padding: 0 0;
    font-size: 1.5em;
}

#textoSect1{
    padding-top: 55px;
    color: rgb(255, 255, 255);
    text-align: center;
}


#inicio{
    background-color: rgb(139, 137, 137);
    color: white;
}

/* Section 1*/ 

#bloqueSection1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.slick-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background: rgba(0,0,0,0.5);
}

#contenidoImagenInicio {
    position: relative;
    margin: -410px 0 0 0;
    
    color: #fff;
    text-align: center;
    z-index: 1;
}

#textoSect1 p {
    font-size: 18px;
}

#textoSect1 h2 {
    font-size: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#btnReservarInicio a {
    color:#000000;
	font-weight:bold;
	border-radius: 10px ;
	text-decoration: none;
    background-color: #43aee8;
	padding:20px 13px;
	text-align:center;
    font-size: 16pt;
	margin:10px 0 0;
	transition: background 2s;
}

#btnReservarInicio a:hover{
    background: #6bda40;
    border: 3px solid #ffffff;
	color:#ffffff;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.slick-dots li.slick-active button {
    background-color:#fff;
}

/* Section 2 */

#s2_grupoImagenes{
    background-image: url("../Imagenes/Inicio/seccion2/1.jpg");
    background-size: 100% 100%;
}

#s2_grupoImagenes p{
    font-size: 2em;
    color:white;
    font-weight: bold;
}

#s2_img1 img{
    width: 50%;
    border-radius: 100%;
    border: solid 1px black;
    max-width: 100px;
    margin: 2%;
}

#s2_cajaOferta{
    display: flex;
    justify-content: center;
}

#s2_oferta h5{
    border: solid 1px black;
    padding: 2% 0;
    width: 60%;
}

#btn_s2 a{
    padding: 10px 20px;
    background-color: #07a124;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border:solid 1px black;
    border-radius: 0.3em;
}

/*  Section 3    */
#section3{
    background-image: url("../Imagenes/Inicio/seccion3/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    text-align: center;
}

#s3_fondo{
    position: relative;
    background-color: rgba(0,0,0,0.4);
}

.caja_s3{
    margin: 0 3% 0 3%;
}


#s2_grupoImagenes{
    border-radius: 0 0 70% 0;
    border:solid 1px black
}

#s2_img1 img{
    margin: 13% 0 0 3%;
}

#s2_textoPromo{
    margin: auto 0 0 0;
    font-size: 1.5em;
}

#grupoLabel_s1{
    margin: 0 0 0 0;
}