
/***** MAIN ****/

/* Sección 1 */
.caja-General{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bloque_Imagenes{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.caja-zapatilla-1{
    align-items: center;
    max-width: 460px;
} 

/* Sección 2 - Servicios */

.bloque_Servicios{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.caja-servicio{
    width: 400px;
    max-width: 400px;
}

.cajita-tituloLavado{
    position: relative;
    margin-bottom: -35px;
}

.cajita-tituloLavado h2{
    padding: 10px 0;
    text-transform: capitalize;
    background-color: #00A1D3;
    color:aliceblue;
    border-radius: 1em;
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
}

.cajita-precio h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
}

.cajita-descripcion p{
    text-align: center;
    font-size: 13pt;
    margin: -1px 0;
}

.cajita-descripcion ul{
    margin: 40px 10% 100px 10%;
    font-size: 13pt;
}

.cajita-descripcion ul li{
    margin: 5px 0;
}

.cajitainfo-lavado{
    background-color: white;
    border: #3fa0d4 1px solid;
    max-width: 80%;
    margin: 0 auto;
    height: 520px;
}

.cajita-reservarServicio{
    position: relative;
    margin-top: -35px;
}

.cajita-reservarServicio h2{
    text-align: center;
    background-color: #4BCE57;
    border: 0.5px solid #939dac ;
    border-radius: 1em ;
    margin: 0 auto;
    max-width: 50%;
    padding: 7px 0;
}

.cajita-reservarServicio a{
    text-decoration: none;
    color: #000;
}

.cajita-reservarServicio a:hover {
    color: #062038;
}

/*SERVICIOS ADICIONALES*/

.cajita-lista-adicional{
    background-color: white;
    border: #3fa0d4 1px solid;
    max-width: 80%;
    margin: 0 auto;
    height: 350px;
    width: 350px;
}

.cajita-lista-adicional table{
    margin: 40px 10% 100px 10%;
    font-size: 11pt;
}

#precio{
    font-weight: bold;
    font-size: 12pt;
}
