<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="row">
        <nav id="grupoEnlacesRedes" class="col-1">
            <a href="https://www.facebook.com/cleanshoes.pe" target="_blank"><img src="/imagenes/RedesSociales_Iconos/facebook.png" alt="Logo de Facebook" ></a>
            <a href="https://www.instagram.com/cleanshoes.peru/" target="_blank"><img src="/imagenes/RedesSociales_Iconos/instagram.png" alt="Logo de Instagram"></a>
            <a href="https://web.whatsapp.com/" target="_blank"><img src="/imagenes/RedesSociales_Iconos/whatsapp.png" alt="Logo de WhatsApp" ></a>
        </nav>
    </aside>
</body>
</html>l