
<nav id="grupoEnlacesRedes" class="col-1">
    <a href="https://www.facebook.com/cleanshoes.pe" target="_blank"><img src="Imagenes/RedesSociales_Iconos/facebook.png" alt="Logo de Facebook" ></a>
    <a href="https://www.instagram.com/cleanshoes.peru/" target="_blank"><img src="Imagenes/RedesSociales_Iconos/instagram.png" alt="Logo de Instagram"></a>
    <a href="https://web.whatsapp.com/" target="_blank"><img src="Imagenes/RedesSociales_Iconos/whatsapp.png" alt="Logo de WhatsApp" ></a>
</nav>

