<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/Plantilla_Style.css">
</head>
<body>
    <footer >
        <div class="row">
            <div  id="cajaLogoSubmenu" class="col-s-12 col-4">
                <div id="logoOscuro">
                    <a href="Index.html"> <img src="Imagenes/CleanShoes_LogoOscuro.png" alt="Logo oscuro de Clean Shoes"></a>
                </div>
                <div id="cajaSubmenuFooter">
                    <div class="col-6">
                        <ul class="menuFoot">
                            <li><a href="Index.html">Inicio</a></li>
                            <li><a href="QuienesSomos.html">¿Quiénes somos?</a></li>
                            <li><a href="Servicios.html">Servicios</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-6">
                        <ul class="menuFoot">
                            <li><a href="Promociones.html">Promociones</a></li>
                            <li><a href="Resultados.html">Resultados</a></li>
                            <li><a href="ReservarServicio.html">Reservar Servicio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="contactanos" class="col-s-6 col-4" >
                <h2>CONTÁCTANOS</h2>
                <table>
                    <tr>
                        <td><a href="https://www.facebook.com/cleanshoes.pe" target="_blank"><img src="Imagenes/RedesSociales_Iconos/facebook.png" alt="Logo de Facebook" ></a></td>
                        <td><a href="https://www.facebook.com/cleanshoes.pe" target="_blank">Clean Shoes Perú</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.instagram.com/cleanshoes.peru/" target="_blank"><img src="Imagenes/RedesSociales_Iconos/instagram.png" alt="Logo de Instagram"></a></td>
                        <td><a href="https://www.instagram.com/cleanshoes.peru/" target="_blank">Clean Shoes Perú</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://web.whatsapp.com/" target="_blank"><img src="Imagenes/RedesSociales_Iconos/whatsapp.png" alt="Logo de WhatsApp" ></a></td>
                        <td><a href="https://web.whatsapp.com/" target="_blank">+51 946 223 511</a></td>
                    </tr>
                </table>
            </div>
            <div id="horariosAtencion" class="col-s-6 col-4">
                <h2>HORARIOS DE ATENCION</h2>
                <div id="horario" class="row">
                    <div id="imagenReloj">
                       
                    </div>
                    <div>
                        <p> 
                            Lunes - Viernes : 8:00a am - 1:00 pm <br>
                                y 2:00 pm y 6:00 pm <br>
                            Sábado : 8:00 am - 2:00 pm
                        </p>
                    </div>
                </div>
            </div>
            <div id="copyright" class="col-s-12 col-12">
                <p>&copy; CopyRight: Todos los derechos reservados 2023 - Grupo 1</p>
            </div>
        </div>
    </footer>
</body>
</html>