
<head>
    <link rel="stylesheet" href="Style/Plantilla_Style.css">
</head>
<body>
    <header>
        <div class = "row">
            <div class="interior">
                <div id="bloqueImagenLogo" class="col-2">
                    <img src="Imagenes/CleanShoes_Logo.png" alt="Logo de Clean Shoes"/>
                </div>

                <div id="bloqueMenu" class ="col-8">
                    <nav id = menu_h>
                        <ul>
                            <li><a href="index.php?" class="activo">Inicio</a></li>
                            <li><a href="index.php?c=Cliente_Controller&a=QuienesSomos">¿Quiénes Somos?</a></li>
                            <li><a href="">Servicios</a></li>
                            <li><a href="">Promociones</a></li>
                            <li><a href="">Resultados</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="cajaReservar" class="col-2">
                    <a href="ReservarServicio.html" id = "ctaReserva">Reservar Servicio</a>
                </div> 
            </div>
        </div>
    </header>
</body>
