<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Style/Plantilla_Style.css">
</head>
<body>
    <header>
        <div class = "row">
            <div class="interior">
                <div id="bloqueImagenLogo" class="col-2">
                    <img src="Imagenes/CleanShoes_Logo.png" alt="Logo de Clean Shoes"/>
                </div>

                <div id="bloqueMenu" class ="col-8">
                    <nav id = menu_h>
                        <ul>
                            <li><a href="Index.html" class="activo">Inicio</a></li>
                            <li><a href="QuienesSomos.html"  >¿Quiénes Somos?</a></li>
                            <li><a href="Servicios.html">Servicios</a></li>
                            <li><a href="Promociones.html">Promociones</a></li>
                            <li><a href="Resultados.html">Resultados</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="cajaReservar" class="col-2">
                    <a href="ReservarServicio.html" id = "ctaReserva">Reservar Servicio</a>
                </div> 
            </div>
        </div>
    </header>
</body>
</html>